body {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    text-decoration-color: #000000;
}
#page {
    position: relative;
    min-height: 100vh;
}
header {
    background-color: #8A9A5B;
    margin: auto;
}
h1 {
    padding: 20px;
    margin: 10px;
    font-size: 5vw;
    text-transform: uppercase;
}
.page-header {
    text-align: center;
    font-size: 36px;
}
.nav {
    list-style-type: none;
    background-color: #8A9A5B;
    text-transform: uppercase;
    font-size: 2vw;
    padding: 10px;
    margin: 10px;
    text-align: right;
}
.nav-links {
    display: inline;
}
a {
    color: #000000;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
.menu {
    background-color: #8A9A5B;
    padding: 100px;
}
* {
    box-sizing: border-box;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
form {
    background-color: #8A9A5B;
    
}
legend {
    background-color: #8A9A5B;
    color: #ffffff;
    padding: 5px 10px;
}
input {
    margin: 5px;
}
iframe {
    height: 100%;
    width: 100%;
    border: none;
}
footer {
    background-color: #8A9A5B;
    padding: 20px;
    padding-bottom: 30px;
}
.footer-contact {
    text-align: center;
}
.footer-socials {
    text-align: center;
    font-size: large;
}