body {
    background-color: #ffffff;
}
#page {
    position: relative;
    min-height: 100vh;
}
header {
    background-color: #8A9A5B;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
footer {
    background-color: #8A9A5B;
    position: absolute;
    bottom: 0;
}