body {
    background-color: #ffffff;
/* 
    padding: auto;
    margin: 0px 25px 0px 25px;
    border-style: solid;
    border-width: 2px;
*/
}
#page {
    position: relative;
    min-height: 100vh;
}
header {
    background-color: #8A9A5B;
    margin: auto;
}
.nav {
    list-style-type: none;
    background-color: #8A9A5B;
    text-transform: capitalize;
    font-size: large;
}
.nav-links {
    display: inline;
    
}
.menu {
    background-color: #8A9A5B;
    padding: 100px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.column img {
    margin-top: 12px;
}
.row {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: #8A9A5B;
}